@use '../src/variables.scss' as *;


.spin-button
{
 width: 118px;
 height: 52px;
 border-radius: 20px;
 border: none;
 background: $spin-button-bg-color;
 color: $text-color;
 font-size: 24px;
 font-family: $primary-font;
 font-weight: 700;
                          
}