@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

/*genral*/
$text-color:white;
$primary-font:'TT Norms Pro', sans-serif;


/*spin button*/

$spin-button-bg-color: linear-gradient(#21CC51, #166E55);

/*back-button*/
$back-button-bg-color:#373737;

